<form (ngSubmit)="myForm.valid && onSubmit(form)" #myForm="ngForm">
  <div class="form-group w-50 d-flex flex-column m-auto">
    <div>
      <label for="user-order">User</label>

      <input
        class="form-control"
        name="user-order"
        type="text"
        [(ngModel)]="model.user"
        #user="ngModel"
        minlength="4"
        maxlength="25"
        required
        >
    </div>

    <!-- Message d'erreurs champ USER -->
    <div *ngIf="myForm.submitted">
      <div *ngIf="user.errors">
      <span *ngIf="user.errors.required">Le champs user est requis et ne doit pas dépasser 25 caractères</span>

      <span *ngIf="user.errors.minlength">Le champ User doit dépasser 4 caractères</span>

      <span *ngIf="user.errors.maxlength">Le champ User ne doit pas dépasser 25 caractères</span>
    </div>
    </div>

    <div>
      <label for="mail-order">Mail</label>

      <input
        class="form-control"
        name="mail-order"
        type="text"
        [(ngModel)]="model.mail"
        #mail='ngModel'
        required
        email>
    </div>

    <!--Message d'erreurs champ MAIL-->
    <div *ngIf="myForm.submitted && mail.errors">
      <span *ngIf="mail.errors.required">Le champ mail est requis</span>

      <span *ngIf="mail.errors.email">Le champ email est invalide</span>
    </div>

    <button class="btn btn-primary mt-2 mr-auto mb-2 ml-auto w-25" type="submit">Validate</button>

    <button class="btn btn-primary mt-2 mr-auto mb-2 ml-auto w-25 w-25" type="reset">Cancel</button>
  </div>
</form>

