<form (ngSubmit)="sendAnswer(questions)">
  <div *ngFor="let question of questions" class="form-check ">
    <input class="form-check-input" [(ngModel)]="question.checked" type="checkbox" name="oui-{{ question.id }}" id="oui-{{ question.id }}" value="test">

    <label class="form-check-label mr-5" for="oui-{{ question.id }}">
      Question number {{ question.id }} : {{ question.title }}
    </label>
  </div>

  <button  type="submit" class="btn btn-primary">Submit</button>

  <button type="reset" class="btn btn-primary">Cancel</button>
</form>
