<form class="d-flex justify-content-center">
  <div class="form-check w-75">
    <input
      (ngModelChange)="sendAnswer(yes, id)"
      class="form-check-input"
      [(ngModel)]="yes.checked"
      type="checkbox"
      name="yes{{ id }}"
      id="yes{{ id }}"
      [disabled]="disabledYes"
      (change)="checkBoxChange(yes)">

    <label class="form-check-label mr-5" for="yes{{ id }}">
      Oui
    </label>

    <input
    (ngModelChange)="sendAnswer(no, id)"
    class="form-check-input"
    [(ngModel)]="no.checked"
    type="checkbox"
    name="no{{ id }}"
    id="no{{ id }}"
    [disabled]="disabledNo"
    (change)="checkBoxChange(no)">

    <label class="form-check-label mr-5" for="no{{ id }}">
      Non
    </label>

    <label class="form-check-label mr-5">
      Question numéro {{ id }} : {{ question }}
    </label>
  </div>
</form>

